body {
font-family: sans-serif;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}
a {
  text-decoration: none;
}
 img {
   max-width: 100%;
   min-height: 100%;
}
@media (min-height: 333px) {
  img {
    height: 5%;
  }
}
.day {
  background-image: url("./Images/WebBackground.gif");
  background-color: white;
  .sticky {
  position: fixed;
  background-color: lightgray;
  width: 28vw;
  border: 3px solid gray;
  top: 290px;
  font-size: 1.0vw;
  text-align: left;
  }
  a{
  color: black;
  }
  b{
  color: black;
  }
  c{
  color: black;
  text-shadow: -2px 0px 0px white, 0 0 1em white;
  }
  d{
  color: black;
  font-family: monospace;
  }
  f{
  color: black;
  font-family: serif;
  }
}
.night {
  background-image: url("./Images/WebBackgroundNight.gif");
  background-color: black;
  .sticky {
  position: fixed;
  color: white;
  background-color: #2C2C2C;
  width: 28vw;
  border: 3px solid #7F7F7F;
  top: 290px;
  font-size: 1.0vw;
  text-align: left;
  }
  a{
  color: white;
  }
  b{
  color: white;
  }
  c{
  color: white;
  text-shadow: 2px 1px 2px black, 0 0 1em black;
  }
  d{
  color: white;
  font-family: monospace;
  }
  f{
  color: white;
  font-family: serif;
  }
}
.shadow {
  -webkit-filter: drop-shadow(0px 0px 8px #222);
  filter: drop-shadow(0px 0px 8px #222);
}
.float
{
  float: left;
}
@media screen and (max-width: 768px) {
    .nope { 
	display: none !important;
	}
}
.scroll {
  height: auto;
  min-height: 100vw;
}
.scroll::-webkit-scrollbar {
  display: none;
}
